<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background :red; font-family: verdana; padding: 30px; }

    </style>
    <title>Thanks for getting in Touch</title>
  </head>
  <body>

    <% include partials/nav.ejs %>
    <h1>Welcome to Contact Page </h1>
    <p>You contacted <%= data.who %>  in the <%  </p>
